@import url('utilities.scss');

// header start
header {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  .logo {
    width: 180px;
  }
  .nav-link {
    color: #fff;
    font-weight: 500;
  }
}

// home start
.home-banner-area {
  .img-wrapper .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  img {
    height: 100vh;
    object-fit: cover;
  }
  .carousel-caption {
    bottom: unset;
    top: 36%;
  }
  .btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 700;
    :hover {
      background-color: #fff;
      color: #3A78C9;
    }
  }
}